<button (click)="toggleAdvancedFilter()">
  {{enableAdvancedFilter ? 'DISABLE ADVANCED FILTER' : 'ENABLE ADVANCED FILTER'}}
</button>
<button (click)="toggleShowSidebar()">
  {{showSidebar ? 'HIDE SIDEBAR' : 'SHOW SIDEBAR'}}
</button>
<button (click)="tryPivoting()">
  try pivoting
</button>

<ag-grid-angular
  [defaultColDef]="defaultColDef"
  [rowModelType]="'serverSide'"
  [serverSideDatasource]="serverSideDatasource"
  [rowGroupPanelShow]="'always'"
  [theme]="theme"
  [pivotMode]="pivotMode"
  style="height: 700px;"
  (gridReady)="gridReady($event)"
  [columnDefs]="colDefs"
  [pivotPanelShow]="'onlyWhenPivoting'"
  [enableAdvancedFilter]="enableAdvancedFilter"
  [sideBar]="showSidebar"
/>
