<div class="button-container">
  <button class="styled-button" [ngClass]="{'active-button': enableAdvancedFilter}" (click)="toggleAdvancedFilter()">
    {{enableAdvancedFilter ? 'DISABLE ADVANCED FILTER' : 'ENABLE ADVANCED FILTER'}}
  </button>
  <button class="styled-button" [ngClass]="{'active-button': showSidebar}" (click)="toggleShowSidebar()">
    {{showSidebar ? 'HIDE SIDEBAR' : 'SHOW SIDEBAR'}}
  </button>
  <button class="styled-button" [ngClass]="{'active-button': pivotMode}" (click)="togglePivoting()">
    {{pivotMode ? 'CANCEL PIVOTING' : 'TRY PIVOTING'}}
  </button>
  <button class="styled-button" [ngClass]="{'active-button': !isServerSide}" (click)="toggleDataMode()">
    {{isServerSide ? 'SWITCH TO CLIENT-SIDE' : 'SWITCH TO SERVER-SIDE'}}
  </button>
  <div class="pagination-toggle">
    <input type="checkbox" id="paginationToggle" [checked]="pagination" (change)="togglePagination()">
    <label for="paginationToggle">Enable Pagination</label>
  </div>
</div>

<!-- Server-Side Grid -->
@if (isServerSide) {
  <ag-grid-angular
    [defaultColDef]="defaultColDef"
    [groupAggFiltering]="true"
    [rowModelType]="'serverSide'"
    [pagination]="pagination"
    [serverSideDatasource]="serverSideDatasource"
    [rowGroupPanelShow]="'always'"
    [theme]="theme"
    [pivotMode]="pivotMode"
    style="height: 700px;"
    (gridReady)="onServerSideGridReady($event)"
    [columnDefs]="pivotMode ? pivotingColDefs : colDefs"
    [pivotPanelShow]="'onlyWhenPivoting'"
    [enableAdvancedFilter]="enableAdvancedFilter"
    [sideBar]="showSidebar"
  />
} @else {
  <ag-grid-angular
    [defaultColDef]="defaultColDef"
    [groupAggFiltering]="false"
    [rowModelType]="'clientSide'"
    [rowData]="rowData"
    [pagination]="pagination"
    [rowGroupPanelShow]="'always'"
    [theme]="theme"
    [pivotMode]="pivotMode"
    style="height: 700px;"
    (gridReady)="onClientSideGridReady($event)"
    [columnDefs]="pivotMode ? pivotingColDefs : colDefs"
    [pivotPanelShow]="'onlyWhenPivoting'"
    [enableAdvancedFilter]="enableAdvancedFilter"
    [sideBar]="showSidebar"
  />
}
